.profileInfo {
  margin: 10px;
  display: flex;
  align-items: center;
}

.avatar > img{
  margin: 5px;
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

.description > * {
  margin: 5px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts > * {
  margin: 5px;
}

.fullName {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}
